body {
    text-align: center;
    text-justify: auto;
}

h1 {
    color:#000000;
    font-family: inherit;
    text-decoration: underline;
    text-shadow:#636363 5px 0 5px;
}
p {
    color:#000000;
    font-family: inherit;
}
h3 {
    color:#676f7c;
    font-family: inherit;
}
h2 {
    color:#2f5363;
    font-family: inherit;
}