/*la base de la page*/
body {
  font-family: 'Lato', sans-serif;
  background: #787878;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.icon {
  display: block;
  width: 90px;
  height: 90px;
}

h2 {
  color: #fff;
  font-size: 20px;
  margin: 0 24px;
  font-weight: 400px;
}

/*le style des box icons*/
.icon-menu {
  margin-top: 50px;
}

.icon {
  width: 100px;
  height: 100px;
  list-style: none;
  left: -40px;
  position: relative;
  color: #ff6600;
  background-color: #454545;
}

.icon:hover {
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#facebook {
  background-color: #292929;
  color: #ff6600;
  left: -40px;
}

#facebook:hover {
  background-color: white;
}

i .fab .far .fas {
  position: absolute;
  cursor: pointer;
  margin: 16px 0 0 14px;
}

.icon {
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
}

.icon:hover {
  background-color: white;
}

.icon h2 {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #262626;
  line-height: 120px;
  width: 200px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.icon h2:hover {
  opacity: 1;
  left: 120px;
  margin: 0;
  text-align: center;
}
