body{
  margin: 0px;
  padding: 0px;
  background:url('images/giphy.gif') no-repeat center fixed;
  background-size:cover;
}
section{
  top: 50%;
  left: 50%;
}
p{
  font-size: 30px;
  color:#ffffff;
  text-align: center;
  text-shadow: 0 0 10px rgba (255,255,255,.8);
}
img {
    display:block;
    margin: auto;
    padding-top:100px;
    width: 350px;
    height: 350px;
    transition: scale(1);
    transition: .3s ease-in-out;
}
img:hover{
	transform: scale(1.3);
}
.btn{
  width:85px;
	height:85px;
	background:#003366;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
    color:#555;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover{
    background-color:#E8560C;
    border-radius:50px/35px;
    opacity: 1;
    animation: flash 1.5s;
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.texte{
    margin-top:70px;
  
}
